*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/*------------------------------------------------Заголовок*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 126, 52);
    padding: 10px;
}

nav{
    display: flex;
    gap: 20px;
    list-style: none;

}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: color 0.2s ease-in-out;
}



nav a:hover{
    color: rgb(244, 226, 210);
}

.burger{
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.flex-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.building_new{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 70%;
    height: auto;
    background: rgb(205, 205, 205);
}

#flex_list{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

#flex_list div:first-child{
    width: 100px;
    background: rgb(255, 126, 52);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: 
    color 0.3s ease,
    background 0.3s ease-in-out;
}

#flex_list div:first-child:hover{
    color: black;
    background: rgb(169, 167, 167);
}

#flex_list div:nth-of-type(2){
     width: 100px;
    background: rgb(169, 167, 167);
    text-align: center;
    border-radius: 8px;
    padding: 10px;
}
