*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/*------------------------------------------------Заголовок*/


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 126, 52);
    padding: 10px;
}

nav{
    display: flex;
    gap: 20px;
    list-style: none;

}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: color 0.2s ease-in-out;
}



nav a:hover{
    color: rgb(244, 226, 210);
}

.burger{
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/*--------------------------------------------Изоброжени недвижимость*/

.flex-welcome{
    display: flex;
    align-items: center; 
    justify-content: center;

}

#welcome{
    position: absolute;
    top: 30%;
    font-size: 40px;
    font-weight: bold;
    transform: scale(1);
    transition: transform 0.3s ease;
}



#welcome-2{
    position: absolute;
    top: 40%;
    font-size: 25px;
    transition: transform 0.3s ease;
    
}

.details{
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    text-align: center;
    background: rgb(255, 126, 52);
    width: 130px;
    padding: 7px;
    color: white;
    transition: background 0.3s ease;
}

.img{
    object-fit: cover;
    width: 100%;
    height: 500px;
}

/*--------------------------------------------Аналитика*/


.analytic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    background: silver;
}

.slideText{
    --from-x: -18%;
    --to-x: -100%;
    animation: SlideText 40s linear infinite;
    padding-left: 100%;
    white-space: nowrap;
}

@keyframes SlideText {
  from {
    transform: translateX(var(--from-x));
  }

    to {
    transform: translateX(var(--to-x));

  }
}


/*--------------------------------------------Недвижимость*/

.head{
    margin: 20px;
}

.building{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}

.build-1{
    display: flex;
    box-shadow: 0 0 8px silver;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    background-color: rgb(216, 209, 199);

}

.build-1-text{
    font-weight: bold;
    margin-left: 30px;
    padding: 7px;
}

.build-1 .img{
    border-radius: 10px 0 0 10px;
    width: 120px;
    height: 150px;
}

.build-2-text{
    font-size: 13px;
    text-align: center;
}

.knowMore{
    color: white;
    font-size: 13px;
    position: relative;
    left: 40px;
    top: 10px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    padding: 2px;
    background: rgb(255, 126, 52);
    transition: background 0.3s ease-in-out;
}

/*--------------------------------------------Калькулятор*/

.calculator-1{
    cursor: pointer;
    margin: 20px;
    display: flex;
    align-items: center;
}

.calculator-1 img{
    width: 50px;
    height: 50px;
}

.hover-text{
    transition: color 0.3s ease;
}

/*--------------------------------------------Часто доют вопрос*/

.main-details{
    margin: 20px;
    width: 90%;
    border-radius: 12px;
    background: #e3e0e0;
    color: rgb(30, 30, 30);
    overflow: hidden;
}

.main-details summary{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    position: relative;
}

.main-details summary::-webkit-details-marker{
    visibility: hidden;
}

.main-details summary::after{
    content: " ▼ ";
    position: absolute;
    right: 5px;
    transition: transform 0.3s ease;
}

.main-details[open] summary::after{
    transform: rotate(180deg);
}

.page-details{
    padding: 10px;
}

/*--------------------------------------------Аналитика*/

.price{
    width: 100%;
    background: silver;
    padding: 10px;
}













