*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/*------------------------------------------------Заголовок*/


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 126, 52);
    padding: 10px;
}

nav{
    display: flex;
    gap: 20px;
    list-style: none;

}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: color 0.2s ease-in-out;
}



nav a:hover{
    color: rgb(244, 226, 210);
}

.burger{
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/*--------------------------------------------Изоброжени недвижимость*/

.flex-welcome{
    display: flex;
    align-items: center; 
    justify-content: center;

}

#welcome{
    position: absolute;
    top: 30%;
    font-size: 40px;
    font-weight: bold;
    transform: scale(1);
    transition: transform 0.3s ease;
}



#welcome-2{
    position: absolute;
    top: 40%;
    font-size: 25px;
    transition: transform 0.3s ease;
    
}

.details{
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    text-align: center;
    background: rgb(255, 126, 52);
    width: 130px;
    padding: 7px;
    color: white;
    transition: background 0.3s ease;
}

.img{
    object-fit: cover;
    width: 100%;
    height: 500px;
}

/*--------------------------------------------Аналитика*/


.analytic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    background: silver;
}

.slideText{
    --from-x: -18%;
    --to-x: -100%;
    animation: SlideText 40s linear infinite;
    padding-left: 100%;
    white-space: nowrap;
}

@keyframes SlideText {
  from {
    transform: translateX(var(--from-x));
  }

    to {
    transform: translateX(var(--to-x));

  }
}

.head{
    margin: 20px;
}

#document{
    margin-top: 5px;
}

/*--------------------------------------------Недвижимость*/

.name-house{
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    transition: box-shadow 0.3s ease-out;
}


.name-house img{
    margin-top: 20px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
}




/*--------------------------------------------Калькулятор*/

.calculator-1{
    cursor: pointer;
    margin: 20px;
    display: flex;
    align-items: center;
}

.calculator-1 img{
    width: 50px;
    height: 50px;
}

.hover-text{
    transition: color 0.3s ease;
}

/*--------------------------------------------Часто доют вопрос*/

.main-details{
    margin: 20px;
    width: 90%;
    border-radius: 12px;
    background: #e3e0e0;
    color: rgb(30, 30, 30);
    overflow: hidden;
}

.main-details summary{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    position: relative;
}

.main-details summary::-webkit-details-marker{
    visibility: hidden;
}

.main-details summary::after{
    content: " ▼ ";
    position: absolute;
    right: 5px;
    transition: transform 0.3s ease;
}

.main-details[open] summary::after{
    transform: rotate(180deg);
}

.page-details{
    padding: 10px;
}

/*--------------------------------------------Аналитика*/

.flex-analitica{
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-analitic{
    display: flex;
    width: 1000px;
    height: 400px;
    background: rgb(255, 126, 52);
    margin: 60px;
    border-radius: 20px;
    color: white;
}



#text-own{
    padding: 10px;
    font-size: 25px;
}

#text-own-1{
    padding: 10px;
    font-size: 15px;
}

.input-number::placeholder{
    color: white;
}

.input-number{
    background: none;
    border: 2px solid white;
    border-radius: 8px;
    width: 280px;
    height: 40px;
    font-size: 15px;
    color: white;
    padding: 10px;
    margin: 20px;

}


.conect{
    cursor: pointer;
    width: 280px;
    height: 40px;
    background: rgb(255, 255, 255);
    margin: 20px;
    margin-top: -10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    transition: 
    color 0.2s ease-in-out,
    background 0.2s ease-in-out;
}

#agree{
    margin: 20px;
    font-size: 12px;
    margin-top: -10px;
}


/*--------------------------------------------Купить*/

.buy-flex{
    padding: 30px;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sell-img-1{
    margin-left: 15px;
     display: flex;
     justify-content: center;
    justify-content: space-between;
    background: url(img/Sell-1.png) center / cover no-repeat;
    width: 90%;
    height: 250px;
    border-radius: 20px;

}

.sell-img-2{
     margin-left: 15px;
     display: flex;
     justify-content: space-between;
    background: url(img/Sell-2.png) center / cover no-repeat;
    width: 90%;
    height: 250px;
    border-radius: 20px;

}


.sell-img-3{
     margin-left: 15px;
    display: flex;
    justify-content: space-between;
    background: url(img/Sell-3.png) center / cover no-repeat;
    width: 90%;
    height: 250px;
    border-radius: 20px;

}

.sell-box{
    border-radius: 20px;
    padding: 15px;
    width: 290px;
    height: 400px;
    background: rgb(206, 206, 206);
}

.sell{
    cursor: pointer;
    font-size: 15px;
    color: white;
    margin: 10px;
    background: rgb(255, 126, 52);
    text-align: center;
    width: 90px;
    height: 23px;
    padding: 3px;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.sell:hover{
    background: rgb(243, 140, 80);
}

.likeHeart img{
    cursor: pointer;
    padding: 5px;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.likeHeart img:hover{
    transform: scale(1.2);
}

.price{
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.price:hover{
    transform: scale(1.1);
}

.buy-price{
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-buy img{
    width: 15px;
    height: 15px;
}

.location-buy{
    font-size: 12px;
    text-align: center;
    padding: 5px;
    background: rgb(170, 170, 170);
    width: 80px;
    border-radius: 7px;
}

#text-1{
    font-size: 15px;
    margin-left: 20px;
    margin-top: -3px;
}

#text-2 img{
    width: 15px;
    height: 15px;
}

#text-2{
    font-size: 15px;
    margin-left: 15px;
    margin-top: 7px;
    opacity: 0.7;
}



#text-3{
    font-size: 15px;
    margin-left: 15px;
    margin-top: 5px;
    opacity: 0.7;

}

#text-3 img{
    width: 25px;
    height: 25px;
}


footer{
    width: 100%;
    height: 400px;
    background: rgb(50, 50, 50);
}

.footer-main{
    color: white;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.option-1{
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.main-1{
    position: relative;
    top: -10px;
    font-size: 25px;
}

.sayt{
    margin: 20px;
    display: flex;
    gap: 10px;
    width: 30px;
    height: 30px;
}

#end{
    text-align: center;
    position: relative;
    top: 60px;
}